<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281392570293-r37tvrl94dks403ltg8ai4ivjnemtfl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281392570293-r37tvrl94dks403ltg8ai4ivjnemtfl5</string>
	<key>API_KEY</key>
	<string>AIzaSyD8U8zEGEMPclueqAb-tcrML0FzylurujU</string>
	<key>GCM_SENDER_ID</key>
	<string>281392570293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrahmedsayedali.amitcharity</string>
	<key>PROJECT_ID</key>
	<string>amit-flutter-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>amit-flutter-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281392570293:ios:db06cd4f04175451d503fc</string>
</dict>
</plist>